<!-- 侧边栏 -->
<div class="layui-side layui-bg-black" id="admin_left">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" id="index-nav" lay-filter="index-nav" style="margin-top: 25px;">
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:openNavItem();">用户管理<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="#!admin/teacherList">教师注册管理</a>
                    </dd>
                    <dd>
                        <a href="#!admin/studentList">学生注册管理</a>
                    </dd>
                </dl>
            </li>

            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">项目管理<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="#!admin/projectList">项目列表</a>
                    </dd>
                </dl>
            </li>

        </ul>
    </div>
</div>