<!--web 的头部-->
<div id="web_header">
    <div class="layui-container">
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item">
                <a href="/index.html" data-pjax="">首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="/index/music.html" data-pjax="">项目中心</a>
            </li>
            <li class="layui-nav-item">
                <a href="/index/topic.html" data-pjax="">热门项目</a>
            </li>
            <span class="layui-nav-bar" style="left: 56.5px; top: 55px; width: 0px; opacity: 0;">

            </span>
        </ul>
        <ul class="layui-nav fly-nav-user">
            <!-- 未登入的状态 -->
            <li class="layui-nav-item layui-this">
                <a class="iconfont icon-touxiang layui-hide-xs" href="/index/user/login.html" data-pjax=""></a>
            </li>
            <li class="layui-nav-item"><a href="/index/user/login.html" data-pjax="">登录</a></li>
            <li class="layui-nav-item"><a href="/index/user/register.html" data-pjax="">注册</a></li>
            <span class="layui-nav-bar" style="left: 0px; top: 55px; width: 0px; opacity: 0;"></span></ul>
    </div>
</div>
