<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>大学生创新创业成果</title>

</head>

<body class="layui-layout-body">
<!-- 头部 -->
<div th:include="common/header :: #web_header" class="fly-header bg-dark"></div>
<div id="container">
    <div class="fly-panel fly-column">

    </div>
    <div class="layui-container">
        <div id="primary" class="primary" role="main">
            <div class="area">
                <article>
                    <header class="single-header">
                        <div class="single-meta">
                            <div class="author-avatar">
                                <a href="/index/user/index/id/1.html" title=" 管理员 的主页" rel="author" data-pjax="">
                                    <img th:src="@{/assets/images/head.jpg}" class="avatar" alt="管理员"
                                         width="70" height="70"/>
                                </a>
                            </div>
                            <h1 class="title">Pro Tools 2018！音乐制作快人一步！</h1>
                            <p class="info">
                            <span class="cat-links">
                                分类栏目：
                                <a href="/index/news/index/cate/1.html" data-pjax="">每周音乐专题</a>
                            </span>
                            </p>
                            <p class="copyright">
                                <span>版权信息：</span>
                                <a class="url" href="/index/user/index/id/1.html" rel="author" data-pjax="">管理员</a>
                                原创作品、版权所有，禁止匿名转载，分享请注明版权。
                            </p>
                        </div>
                        <div class="data-meta">
                            <p class="badge-num">129</p>
                            <p>
                            <span class="author">
                                <a target="_blank" href="/index/user/index/id/1.html" title="查看 管理员 发表的全部文章"
                                   rel="author" data-pjax=""> 管理员 </a>
                                发布于 <time class="data-time">2018-03-12</time>
                            </span>
                                <span class="comments-link">
                                <a href="#comments">0 条评论</a>
                            </span>
                            </p>
                        </div>
                    </header>
                    <div class="single-content-wrapper">
                        <div class="single-content photos">
                            <p class="ql-align-center"
                               style="box-sizing: inherit; margin: 0px 1rem 1rem; text-align: center; color: rgb(41, 43, 44); font-family: -apple-system, system-ui, BlinkMacSystemFont, ">
                                全球领先的媒体技术供应商 Avid，如今发布了全新版本的业界领先数字音频工作站</p>
                            <h1 class="ql-align-center"
                                style="box-sizing: inherit; font-size: 1.6rem; margin: 1.2rem 1rem; font-family: -apple-system, system-ui, BlinkMacSystemFont, ">
                                Pro Tools 2018</h1>
                            <p><img src="/public/uploads/remote/5a8f91159d724.png" layer-index="0"/></p>
                            <blockquote class="ql-align-center"
                                        style="box-sizing: inherit; margin: 0px 1rem 1rem; color: rgb(136, 136, 136); border-left: 0.2rem solid orange; padding-left: 1rem; text-align: center; font-family: -apple-system, system-ui, BlinkMacSystemFont, ">
                                Pro Tools 2018 增加的 EQ 缩略图
                            </blockquote>
                            <p style="box-sizing: inherit; margin: 0px 1rem 1rem; color: rgb(41, 43, 44); font-family: -apple-system, system-ui, BlinkMacSystemFont, "></p>
                            <p style="box-sizing: inherit; margin: 0px 1rem 1rem; color: rgb(41, 43, 44); font-family: -apple-system, system-ui, BlinkMacSystemFont, ">
                                Pro Tools 是现在业界最开放、最高效的音频制作平台，Pro Tools 2018 在音乐制作上增加经验，拥有更快的制作流程，这些都是通过全新的轨道预设功能(Track
                                Presets)实现的。其次还拥有许多创新性功能，如进一步提高 MIDI 编辑与播放列表的改进等。</p>
                            <p style="box-sizing: inherit; margin: 0px 1rem 1rem; color: rgb(41, 43, 44); font-family: -apple-system, system-ui, BlinkMacSystemFont, ">
                                Avid 对之前几个版本的用户反馈做出相应，为 2018 新版注入了更多音乐创作特点。让使用 Pro Tools
                                的作曲家、音乐人、制作人与录混音师专注于音乐创作过程，而不是将时间浪费在复杂的软件使用上。全新的回顾 MIDI
                                功能确保用户不会遗漏掉自己创作的精彩演奏片段，使用全新快捷键完成替换、修剪、编辑速度等动作，让音乐创作更简单更迅速。</p>
                            <p style="box-sizing: inherit; margin: 0px 1rem 1rem; color: rgb(41, 43, 44); font-family: -apple-system, system-ui, BlinkMacSystemFont, ">
                                “使用 Pro Tools 2018 的音乐家们可以迅速将创作灵感付诸于现实！” Avid 首席产品官 Dana Ruzicka 介绍到。“全新的 Pro Tools
                                可以给予有抱负的音乐人更大的创作空间，同时基于 Avid 产品生态系统，在合作创作方面也会更加流畅。”</p>
                            <p style="box-sizing: inherit; margin: 0px 1rem 1rem; color: rgb(41, 43, 44); font-family: -apple-system, system-ui, BlinkMacSystemFont, ">
                                <span style="box-sizing: inherit; font-weight: bolder;">全新 Pro Tools 2018 专注于音乐人的创作手法和灵感，准备更符合他们使用习惯的功能包括：</span>
                            </p>
                            <ul style="box-sizing: inherit; margin-right: 1rem; margin-bottom: 1rem; margin-left: 1rem; color: rgb(41, 43, 44); font-family: -apple-system, system-ui, BlinkMacSystemFont, "
                                class=" list-paddingleft-2">
                                <li><p>轨道预设可以对轨道设置快速保存、编辑、找回你喜爱的效果连、工程预设等其他轨道设置。</p></li>
                                <li><p>全新播放列表可以节省宝贵的屏幕空间，拥有全新波形图，可对片段进行编组。</p></li>
                                <li><p>轻松将工程转换为云文件上传以便更快的进行合作。</p></li>
                                <li><p>混音窗口加入 EQ 缩略图，更直观的展现轨道上的 EQ 插件参数。</p></li>
                            </ul>
                            <p class="ql-align-center"
                               style="box-sizing: inherit; margin: 0px 1rem 1rem; text-align: center; color: rgb(41, 43, 44); font-family: -apple-system, system-ui, BlinkMacSystemFont, ">
                                </p>
                            <p class="ql-align-center"
                               style="box-sizing: inherit; margin: 0px 1rem 1rem; text-align: center; color: rgb(41, 43, 44); font-family: -apple-system, system-ui, BlinkMacSystemFont, ">
                                更多详情请至 Avid 官网查看:<a href="http://www.avid.com/pro-tools" target="_blank"
                                                    style="box-sizing: inherit; background-color: transparent; color: orange; text-decoration-line: none; touch-action: manipulation;">www.avid.com/pro-tools</a>
                            </p>
                            <p class="ql-align-center"
                               style="box-sizing: inherit; margin: 0px 1rem 1rem; text-align: center; color: rgb(41, 43, 44); font-family: -apple-system, system-ui, BlinkMacSystemFont, ">
                         </p>
                            <p class="ql-align-center"
                               style="box-sizing: inherit; margin: 0px 1rem 1rem; text-align: center; color: rgb(41, 43, 44); font-family: -apple-system, system-ui, BlinkMacSystemFont, ">
                                <span style="box-sizing: inherit; font-weight: bolder;">小编会在将来发布更详细的有关新版&nbsp;Pro Tools 2018 的功能介绍，尽情关注...</span>
                            </p>
                            <p><span style="box-sizing: inherit; font-weight: bolder;"></span></p>
                            <p></p></div>
                    </div>
                    <div class="single-footer">
                        <div class="single-heart">
                            <a href="javascript:;" class="user-signin" id="setLove" data-id="9" data-mid="2">
                                <i class="fa fa-heart"></i>
                                <span class="heart-text">喜欢</span> ( <span class="heart-no">0</span> )
                            </a>
                            <div class="loading-line"></div>
                        </div>
                        <div class="tag-share">
                            <div class="tag-links">
                                <span><i class="fa fa-tags"></i>标签</span>
                                <a href="/index/news/index/keywords/%E9%9F%B3%E4%B9%90%E5%88%B6%E4%BD%9C.html" rel="tag"
                                   data-pjax="">音乐制作</a>
                                <a href="/index/news/index/keywords/Tools.html" rel="tag" data-pjax="">Tools</a>
                                <a href="/index/news/index/keywords/2018.html" rel="tag" data-pjax="">2018</a>
                                <a href="/index/news/index/keywords/Pro.html" rel="tag" data-pjax="">Pro</a>
                            </div>
                        </div>
                        <nav class="navigation post-navigation" role="navigation">
                            <div class="nav-links">
                                <a class="pre-post" title="一城、一歌｜你心底的乡愁被哪首牵动奏响？" rel="prev"
                                   href="/index/news/show/id/8.html" data-pjax="">
                                    <i class="fa fa-arrow-circle-left"></i>
                                    上一篇：一城、一歌｜你心底的乡愁被哪首牵动奏响？ </a>
                                <a class="next-post" title="连接世界，链接你我" rel="next" href="/index/news/show/id/10.html"
                                   data-pjax="">
                                    下一篇：连接世界，链接你我 <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </nav>
                    </div>
                </article>
            </div>

            <div class="area">

                <div id="comments" class="comments">
                    <h2 class="comments-title" style="padding-top:0">
                        全部评论 / <strong>0</strong></h2>
                    <ol class="comment-list">
                    </ol>
                    <div class="layui-timeline-content layui-text">
                        <textarea name="desc" id="desc" placeholder="成为第一个评论的人." class="layui-textarea"></textarea>
                        <div class="mar-top">
                            <a href="javascript:void(0)" data-id="9" data-mid="2" data-elem="#desc"
                               class="layui-btn layui-btn-normal self-btn" id="setComment">发表评论</a>
                        </div>
                    </div>
                    <div style="text-align: center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--尾部-->
<div class="fly-footer" style="margin-bottom: 60px;" th:include="common/footer :: #web_footer"></div>


<script>
    $(function () {
        if (getCurrentUser() == null) {
            location.replace(appServer + "login.html");
        }
    });
</script>
</body>
</html>