<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>大学生创新创业成果</title>

</head>

<body class="layui-layout-body">
<!-- 头部 -->
<div th:include="common/header :: #web_header" class="fly-header bg-dark"></div>
<div id="container">
    <div class="fly-panel fly-column">

    </div>
    <div class="layui-container">
        <div id="primary" class="primary" role="main">
            <div class="area">
                <article>
                    <header class="single-header">
                        <div class="single-meta">
                            <input type="hidden" name="projectCode" th:value="${project.projectCode}" id="projectCode"/>
                            <div class="author-avatar">
                                <a href="#" title=" 管理员的主页" rel="author" data-pjax="">
                                    <img th:src="@{/assets/images/head.jpg}" class="avatar" alt="管理员"
                                         width="70" height="70"/>
                                </a>
                            </div>
                            <h1 class="title" th:text="${#strings.abbreviate(project.projectName,50)}" th:title="${project.projectName}">项目名称</h1>
                            <p class="info">
                            <span class="cat-links">
                                项目类型：
                                <a href="#" th:text="${projectTypeMap[__${project.projectType}__]}">创业项目</a>
                            </span>
                            </p>
                           <!-- <p class="copyright">
                                <span>版权信息：</span>
                                <a class="url" href="/index/user/index/id/1.html" rel="author" data-pjax="">管理员</a>
                                原创作品、版权所有，禁止匿名转载，分享请注明版权。
                            </p>-->
                        </div>
                        <div class="data-meta">
                            <p class="badge-num" th:text="${project.taskPage.totalElements}">0</p>
                            <p>
                            <span class="author">
                                <a title=""
                                   rel="author" th:text="${project.userAccount}"> 管理员 </a>
                                发布于 <time class="data-time" th:text="${#strings.substring(project.createTime,0,10)}">2018-03-12</time>
                            </span>
                                <span class="comments-link">
                                <a href="#comments" th:text="${project.taskPage.totalElements+'任务'}"></a>
                            </span>
                            </p>
                        </div>
                    </header>
                    <div class="single-content-wrapper">
                        <div class="single-content photos">
                            <p class="ql-align-center"
                               style="box-sizing: inherit; margin: 0px 1rem 1rem; text-align: center; color: rgb(41, 43, 44); font-family: -apple-system, system-ui, BlinkMacSystemFont,"
                            th:text="${project.projectName}">
                                项目名称</p>
                            <!--<h1 class="ql-align-center"
                                style="box-sizing: inherit; font-size: 1.6rem; margin: 1.2rem 1rem; font-family: -apple-system, system-ui, BlinkMacSystemFont, ">
                                Pro Tools 2018</h1>
                            <p>
                                <img src="/public/uploads/remote/5a8f91159d724.png" layer-index="0"/>
                            </p>
                            <blockquote class="ql-align-center"
                                        style="box-sizing: inherit; margin: 0px 1rem 1rem; color: rgb(136, 136, 136); border-left: 0.2rem solid orange; padding-left: 1rem; text-align: center; font-family: -apple-system, system-ui, BlinkMacSystemFont, ">
                                Pro Tools 2018 增加的 EQ 缩略图
                            </blockquote>-->
                            <p style="box-sizing: inherit; margin: 0px 1rem 1rem; color: rgb(41, 43, 44);
                            font-family: -apple-system, system-ui, BlinkMacSystemFont,"></p>
                            <p style="box-sizing: inherit; margin: 0px 1rem 1rem; color: rgb(41, 43, 44); font-family: -apple-system, system-ui, BlinkMacSystemFont,"
                            th:text="${project.projectContent}">
                                项目内容
                            </p>

                            <p><span style="box-sizing: inherit; font-weight: bolder;"></span></p>
                            <p></p></div>
                    </div>
                    <div class="single-footer">
                        <div class="single-heart">
                            <a href="javascript:addTask();" class="user-signin" id="setLove" data-id="9" data-mid="2">
                                <i class="fa fa-heart"></i>
                                <span class="heart-text">上传自己的任务</span>
                            </a>
                            <div class="loading-line"></div>
                        </div>
                        <!--<div class="tag-share">
                            <div class="tag-links">
                                <span><i class="fa fa-tags"></i>标签</span>
                                <a href="/index/news/index/keywords/%E9%9F%B3%E4%B9%90%E5%88%B6%E4%BD%9C.html" rel="tag"
                                   data-pjax="">音乐制作</a>
                                <a href="/index/news/index/keywords/Tools.html" rel="tag" data-pjax="">Tools</a>
                                <a href="/index/news/index/keywords/2018.html" rel="tag" data-pjax="">2018</a>
                                <a href="/index/news/index/keywords/Pro.html" rel="tag" data-pjax="">Pro</a>
                            </div>
                        </div>-->
                        <!--<nav class="navigation post-navigation" role="navigation">
                            <div class="nav-links">
                                <a class="pre-post" title="一城、一歌｜你心底的乡愁被哪首牵动奏响？" rel="prev"
                                   href="/index/news/show/id/8.html" data-pjax="">
                                    <i class="fa fa-arrow-circle-left"></i>
                                    上一篇：一城、一歌｜你心底的乡愁被哪首牵动奏响？ </a>
                                <a class="next-post" title="连接世界，链接你我" rel="next" href="/index/news/show/id/10.html"
                                   data-pjax="">
                                    下一篇：连接世界，链接你我 <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </nav>-->
                    </div>
                </article>
            </div>

            <div class="area">
                <div id="comments" class="comments">
                    <h2 class="comments-title" style="padding-top:0">
                        精选学生上传 / <strong th:text="${project.taskPage.totalElements}">1</strong></h2>
                    <ol class="comment-list">
                        <li class="comment even thread-even depth-1" th:each="task,stat:${project.taskPage.content}">
                            <div class="comment-body">
                                <div class="comment-author vcard">
                                    <a target="_blank" th:title="${task.userAccount}" href="#">
                                        <img th:src="@{/assets/images/head.jpg}"
                                             class="avatar" width="44" height="44"/>
                                    </a>
                                </div>
                                <div class="comment-main">
                                    <a href="javascript:void(0);" th:onclick="|load('task/task_detail/${task.taskId}');|">
                                        <p th:text="${'标题：'+task.taskTitle}" style="color: #00b3ca"></p>
                                    </a>
                                    <p th:text="${'内容：'+task.taskContent}"></p>
                                    <div class="comment-meta">
                                        <span class="author">
                                            <cite th:text="${task.userAccount}"></cite></span>
                                        <span class="date" th:text="${#strings.substring(task.createTime,0,10)}"></span>
                                    </div>
                                </div>
                                <div class="comment-floor" th:text="${stat.count}">1</div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--尾部-->
<div class="fly-footer" style="margin-bottom: 60px;" th:include="common/footer :: #web_footer"></div>

<script>
    $(function () {
        if (getCurrentUser() == null) {
            location.replace(appServer + "login.html");
        }
    });
    function addTask() {
        var projectCode = $("#projectCode").val();
        loadAndParameter('task/add_task','projectCode='+projectCode);
    }
</script>
</body>
</html>