<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>大学生创新创业成果</title>
    <link rel="stylesheet" href="../../static/assets/css/login.css" media="all" th:href="@{/assets/css/login.css}"/>

</head>
<body>
<div class="layui-layout-body">
    <!-- 头部 -->
    <div th:include="common/header :: #web_header" class="fly-header bg-dark"></div>
    <div id="container">
        <div class="layadmin-user-login" id="LAY-user-login">
            <div class="layadmin-user-login-main">
                <div class="layadmin-user-login-box layadmin-user-login-header">
                    <h2>注册</h2>
                    <p> <a href="javascript:load('login');" class="layadmin-user-jump-change layadmin-link"
                           style="margin-top: 7px;">已有账号？登录</a></p>
                </div>
                <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                    <form class="layui-form" action="" id="user_reg_form" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户类型</label>
                            <div class="layui-input-block" lay-filter="LAY-user-reg-redio">
                                <input type="radio" name="userType" id="userTypeStu" value="2" title="学生" checked="checked"
                                       lay-filter="LAY-user-reg-stu"/>
                                <input type="radio" name="userType" id="userTypeTeacher" value="1" title="教师"
                                       lay-filter="LAY-user-reg-teacher"/>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-biaodan" for="userAccount"></label>
                            <input type="text" name="userAccount" id="userAccount" lay-verify="required" placeholder="账号" class="layui-input"/>
                        </div>

                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-biaodan" for="userName"></label>
                            <input type="text" name="userName" id="userName" lay-verify="required" placeholder="姓名" class="layui-input"/>
                        </div>


                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-biaodan" for="userPwd"></label>
                            <input name="userPwd" id="userPwd" placeholder="请输入密码" type="password" class="layui-input"
                                   lay-verify="required|userPwd" required="required"/>
                        </div>
                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-biaodan" for="confirmUserPwd"></label>
                            <input name="confirmUserPwd" id="confirmUserPwd" placeholder="请输入确认密码" type="password" class="layui-input"
                                   lay-verify="required|confirmUserPwd" required="required"/>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="gender" id="genderMan" value="男" title="男" checked="checked"/>
                                <input type="radio" name="gender" id="genderWoman" value="女" title="女"/>
                            </div>
                        </div>

                        <div class="layui-form-item" id="teacherTitle">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-biaodan" for="userTitle"></label>
                            <input name="userTitle" id="userTitle" placeholder="请输入教师职称" type="text" class="layui-input" maxlength="20"/>
                        </div>


                        <div class="layui-form-item" id="department">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-biaodan" for="departmentInpt"></label>
                            <input name="department" id="departmentInpt"
                                   placeholder="请输入所在学院" type="text" class="layui-input" maxlength="20"/>

                        </div>

                        <div class="layui-form-item" id="userClass">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-biaodan" for="userClassInpt"></label>
                           <input name="userClass" id="userClassInpt" placeholder="请输入所在班级" type="text"
                                  class="layui-input" maxlength="20"/>
                        </div>

                        <div class="layui-form-item" id="studentNo">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-biaodan" for="studentNoInpt"></label>
                                <input name="studentNo" id="studentNoInpt" placeholder="请输入学号" type="text" class="layui-input" maxlength="20"/>
                        </div>

                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-biaodan" for="mobileInpt"></label>
                                <input name="mobile" id="mobileInpt" placeholder="请输入手机号" type="text" class="layui-input" maxlength="20"/>
                        </div>
                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-biaodan" for="emailInpt"></label>
                                <input name="email" id="emailInpt" placeholder="请输入邮箱" type="text" class="layui-input" maxlength="20"/>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="true" lay-filter="LAY-user-reg-submit">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                    <!--<div class="layui-form-item">
                        <button class="layui-btn layui-btn-fluid layui-btn-normal" lay-submit="" lay-filter="register-submit">立即注册</button>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <!--尾部-->
    <div class="fly-footer" style="margin-bottom: 60px;" th:include="common/footer :: #web_footer"></div>
</div>
</body>
<script>
    layui.use(['form'], function () {
        var form = layui.form;
        form.render();
        //提交
        form.on('submit(LAY-user-reg-submit)', function (obj) {
            layer.load(1);
            $.post(appServer + "uc/add_user", obj.field, function (data) {
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 1});
                    setTimeout(function() {
                        location.replace(appServer+"login.html");
                    }, 2000);
                } else {
                    layer.closeAll('loading');
                    layer.msg(data.msg, {icon: 2});
                    return false;
                }
            }, "json");
            return false;
        });
        isStu();
        form.on('radio(LAY-user-reg-stu)', function (data) {
            console.log(data.value); //被点击的radio的value值
            if (data.value == '2') {
                isStu();
            }
        });
        form.on('radio(LAY-user-reg-teacher)', function (data) {
            console.log(data.value); //被点击的radio的value值
            isStu();
        });

        layui.form.verify({
            confirmUserPwd: function(value, item){
                var userPwd = $("#user_reg_form input[name=userPwd]").val();
                if(value!=userPwd){
                    return '两次输入密码不一致';
                }
            },
            userPwd: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
        });
    });

    function isStu() {
        var userType = $("#user_reg_form input[name=userType]:checked").val();
        if (userType == '2') {
            $("#teacherTitle").hide();
            $("#department").show();
            $("#userClass").show();
            $("#studentNo").show();
        } else {
            $("#teacherTitle").show();
            $("#department").hide();
            $("#userClass").hide();
            $("#studentNo").hide();
        }

    }
</script>
</html>